body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
canvas {
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    border: solid 1px
}
.ButtonT {
 position: absolute;
 bottom: -10%;
 right: 0;   
}
